@import "../../styles/variables.scss";

.infoCard {
    background-color: $primary-color;
    color: $white;
    height: 250px;
    padding: 25px;
    border-radius: 20px;
    max-height: 250px;
    position: relative;
    @media (max-width: $breakpoint-md) {
        height: 200px;
        max-height: 200px;
    }

    h2 {
        font-size: 20px;
        font-weight: 300;
    }

    &--value {
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 35px;
        text-align: center;
        @media (max-width: $breakpoint-md) {
            height: 70%;
        }
    }

    .singleElement {
        height: 90%;
        font-size: 45px;
        @media (max-width: $breakpoint-lg) {
            font-size: 40px;
        }
    }

    .metric {
        right: 15px;
        position: absolute;
        width: 25px;
        height: 50%;
        background: $white;
        top: 70px;
        border-radius: 20px;
        span {
            left: 2px;
            bottom: 5px;
            height: 20px;
            width: 20px;
            background: $hover-color;
            position: absolute;
            border-radius: 20px;
            margin-bottom: 5px;
        }
    }

    .compass {
        display: flex;
        align-items: center;
        svg {
            background: $white;
            padding: 7px;
            color: $accent-yellow;
            border-radius: 20px;
            margin-right: 10px;
        }
    }

    .sunContent {
        margin-top: 35px;
        div:first-child {
            margin-bottom: 25px;
        }
        div {
            display: flex;
            align-items: center;
        }
        svg {
            position: relative;
            background: linear-gradient(2deg, yellow, $accent-yellow);
            padding: 10px 12px;
            color: $white;
            border-radius: 20px;
            margin-right: 10px;
            z-index: 1;
            border: none;
            font-size: 20px;
        }

        p {
            font-size: 25px;
        }
        
    }
}